<a href="https://colab.research.google.com/github/sdanman/myDataScience/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## H2: Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.
#Some of the popular languages that Data Scientists use are:
- Python
- R
- Julia

###Exercise 10 - Insert a markdown cell to list Objectives
**Objective**

- List popular languages for Data Science
- text manggment like bold, H1, H2 ...
- Artimatic calculation


###Exercise 5 - Create a markdown cell to list data science libraries
#Some of the commonly used libraries used by Data Scientists include:
Python: Data Manipulation and Cleaning:

   - NumPy:
   - Pandas:
   - Scikit-learn:

Data Analysis and Statistics:
   - Statsmodels
   - PyTorch
   -SciPy
###Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
| ------ |
| Jupyter Notebook |
|Visual Studio Code |
| Googl colab |

##H2: Author
Daniel Manaye

In [2]:
### H: Below are a few examples of evaluating arithmetic expressions in Python
# Exercise 8 - Create a code cell to multiply and add numbers
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#Exercise 9 - Create a code cell to convert minutes to hours
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335